<div class="sidenav-container d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *hasPermission="'sidebar_home'">
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Home
      </a>
    </li>
    <li *hasPermission="'sidebar_dashboard'">
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Dashboard
      </a>
    </li>
    <li *hasPermission="'sidebar_orders'">
      <a href="#" class="nav-link text-white"
         data-bs-toggle="collapse"
         data-bs-target="#orders-collapse"
         aria-expanded="false">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Orders
      </a>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="text-white rounded">New</a></li>
          <li><a href="#" class="text-white rounded">Processed</a></li>
          <li><a href="#" class="text-white rounded">Shipped</a></li>
          <li><a href="#" class="text-white rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li *hasPermission="'sidebar_products'">
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Products
      </a>
    </li>
    <li *hasPermission="'sidebar_customers'">
      <a href="#" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Customers
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       id="dropdownUser1"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      <img src="https://cdn-icons-png.flaticon.com/512/265/265474.png?w=826&t=st=1684672741~exp=1684673341~hmac=46ea253142a8ea3ff94af76ae2d6a90f0051c39480ba8f3c24ac09434569a318" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>User</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
