<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Modules
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="todo">Todo</a></li>
            <li><a class="dropdown-item" href="#" routerLink="stepper">Stepper</a></li>
          </ul>
        </li>
        <button mat-button class="icon-right"
                [matMenuTriggerFor]="scopeMenu">
          {{(scope$ | async) | titlecase}}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #scopeMenu="matMenu">
          <button mat-menu-item
                  *ngFor="let scope of scopeValues"
                  (click)="setScope(scope)">
            {{scope | titlecase}}
          </button>
        </mat-menu>
      </ul>
    </div>
  </div>
</nav>
